body {margin: 5%;
	background-image: url("imagnes/2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}
h1{text-shadow: 1px 2px 3px #666;}
h2{text-shadow: 1px 2px 3px #666;}
#textorespuesta{margin-left:25%; margin-right: 25%;padding-left:10%;padding-right: 10%;vertical-align: middle;text-align: center;}


ul{margin-left:25%; margin-right: 25%;padding-left:10%;padding-right: 10%;vertical-align: middle;text-align: center;}


